@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Segoe UI;
  font-display: swap;
  src: url("../fonts/Segoe/Segoe-UI.woff2") format("woff2"), url("../fonts/Segoe/Segoe-UI.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Segoe UI;
  font-display: swap;
  src: url("../fonts/Segoe/Segoe-UI.woff2") format("woff2"), url("../fonts/Segoe/Segoe-UI.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}